/* Import Inter Display from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter+Display:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

/* Global font variable and default */
:root {
  --font-sans: "Inter Display", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

@theme inline {
  --font-inter: "Inter Display", sans-serif;
  --color-primary: #111;
}

/* body {
  font-family: var(--font-sans);
} */
